@mixin common-button-styles($additional-styles: ()) {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  transition: 0.2s;
  @content;
  @each $property, $value in $additional-styles {
    #{$property}: $value;
  }
}

@mixin color-properties($background-color, $hover-color: null, $shadow-color: null) {
  background-color: $background-color;
  @if $hover-color {
    &:hover {
      background-color: $hover-color;
      cursor: pointer;
    }
  }
  @if $shadow-color {
    box-shadow: 8px 8px 24px 0px $shadow-color;
  }
}

@mixin font-montserrat($weight: 400, $size: 16px, $style: normal) {
  font-family: "Montserrat", sans-serif;
  font-weight: $weight;
  font-size: $size;
  font-style: $style;
}

@mixin font-roboto-condensed($weight: 400, $size: 16px, $style: normal) {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: $weight;
  font-size: $size;
  font-style: $style;
}

@mixin common-font-size($size: 20px) {
  font-size: $size;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  @include color-properties(rgb(238,174,202));
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(82,122,168,1) 99%);
}

h1 {
  @include font-montserrat(800, 100px);
}

@media screen and (max-width: 600px) {
  h1{
    font-size: 32px;
  }

}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;


  @media screen and (max-width: 600px) {
    height: 100vh;
  }

  @media screen and (min-width: 601px) and (max-width: 900px) {
    height: 100vh;
  }

  @media screen and (min-width: 901px) {
    height: 100vh;
  }
}

.internal-container {
  @include color-properties(#ddd3d3, null, rgba(66, 68, 90, 1));
  border: 1px solid black;
  border-radius: 20px;

  @media screen and (max-width: 600px) {
    padding: 25px;
  }

  @media screen and (min-width: 601px) and (max-width: 900px) {
    padding: 70px;
  }

  @media screen and (min-width: 901px) {
    padding: 20px;
  }
}

.searchbar { 
  width: 300px;
  height: 40px;
  border-radius: 10px;

  @media screen and (max-width: 600px) {
    display: flex;
    flex-direction: column;
    width: 250px;
    border: none;
  }

  @media screen and (min-width: 601px) and (max-width: 900px) {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 450px;
    border: none;
  }

  @media screen and (min-width: 901px) {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 1200px;
    border: none;
  }
}

.searchbar::placeholder {
  @media screen and (max-width: 600px) {
    padding: 10px;
    letter-spacing: 2px;
  }

  @media screen and (min-width: 601px) and (max-width: 900px) {
    margin: 50px;
    letter-spacing: 2px;
    font-size: 30px;
    padding: 2px;
  }

  @media screen and (min-width: 901px) {
    padding: 20px;
    letter-spacing: 2px;
    font-size: 20px;
  }
}



.btn-search-add {
  @include common-button-styles;
  @include font-montserrat;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  letter-spacing: 1px;
  border-radius: 20px;
}

.btn-click {
  @include common-button-styles;
  @include color-properties(null, rgb(185, 72, 121));

  @media screen and (max-width: 600px) {
    margin: 5px;
    padding: 6px;
  }

  @media screen and (min-width: 601px) and (max-width: 900px) {
    margin: 5px;
    padding: 10px;
    font-size: 25px;
  }

  @media screen and (min-width: 901px) {
    margin: 5px;
    padding: 10px;
    font-size: 25px;
  }
}

.btn-click-simple {
  @include common-button-styles;
  padding: 4px;

  @media screen and (min-width: 601px) and (max-width: 900px) {
    padding: 18px;
  }

  @media screen and (min-width: 901px) {
    padding: 38px;
  }
}

.single-element {
  @include font-roboto-condensed;
  list-style-type: none;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: 601px) and (max-width: 900px) {
    display: flex;
    font-size: 40px;
  }

  @media screen and (min-width: 901px) {
    font-size: 40px;
  }
}

.single-element .btn-click-simple {
  margin-left: 5px;

  &:first-child {
    margin-left: 0;
  }
}

.js-info {
  padding: 20px;
  margin-bottom: 20px;
}

.js-responsibility-count {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  color: black;
}

.js-undo-btn:hover {
  @include color-properties(null, rgb(185, 72, 121));
  padding: 8px;
}

input {
  @include font-roboto-condensed;
  border: none;
  border-radius: 5px;
  padding: 2px;

  @media screen and (min-width: 901px) {
    width: 820px;
    height: 60px;
    font-size: 16px;
  }
}

.remove-btn, .edit-btn, .done-btn {
  @include common-font-size(20px);
}

.info {
  @media screen and (min-width: 601px) and (max-width: 900px) {
    font-size: 15px;
  }

  @media screen and (min-width: 901px) {
    font-size: 25px;
  }
}
